on early-init
    mount none /system/etc /etc bind rec  # docker fix
    mount sysfs sysfs /sys rw remount  # ueventd fix

    write /data/.empty 0
    mount none /data/.empty /proc/vmallocinfo bind # lxcfs?

on init
    # CHECK at system/core/libcutils/fs_config.cpp
    # TODO exec fs_config during building time

    chmod 00700 /system/bin/secilc
    chmod 00750 /system/bin/uncrypt
    chmod 00600 /system/build.prop
    chmod 00600 /default.prop

    chmod 04750 /system/xbin/su
    chown 0 2000 /system/xbin/su

    exec - root -- /system/bin/setcap CAP_SYSLOG,CAP_AUDIT_CONTROL,CAP_SETGID+ep /system/bin/logd

    exec - root -- /system/bin/setcap cap_sys_nice+ep /system/bin/surfaceflinger

    chmod 00750 /system/bin/run-as
    chown 0 2000 /system/bin/run-as
    exec - root -- /system/bin/setcap cap_setgid,cap_setuid+ep /system/bin/run-as

    chmod 0750 /system/bin/webview_zygote32
    chown 0 0 /system/bin/webview_zygote32
    exec - root -- /system/bin/setcap cap_setgid,cap_setuid,cap_setpcap+ep /system/bin/webview_zygote32

    chmod 0750 /system/bin/webview_zygote64
    chown 0 0 /system/bin/webview_zygote64
    exec - root -- /system/bin/setcap cap_setgid,cap_setuid,cap_setpcap+ep /system/bin/webview_zygote64

on boot
    setprop debug.hwui.use_gpu_pixel_buffers false # swiftshader workaround?

on property:sys.boot_completed=1
    start boot_completed-setup

service boot_completed-setup /system/etc/boot_completed.redroid.sh
    user root
    group root
    oneshot

